<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Formularios </title>
<script src="main.js" defer></script>
</head>
<body>

<h2>Login</h2>
<form id="formLogin">
    Usuario: <input name="usuario"><br>
    Clave: <input name="clave" type="password"><br>
    <button>Entrar</button>
</form>
<hr>

</body>
</html>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con color</title>
    <style>
        body {
            background-color: lightblue;
}
    </style>
</head>
<body>
    
</body>

<h2>Registro de Estudiantes</h2>
<form id="formEst">
    Nombre: <input name="nombre"><br>
    Edad: <input name="edad"><br>
    <button>Guardar</button>
</form>
<hr>

</body>
</html>

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con color</title>
    <style>
        body {
            background-color: lightblue; 
}
    </style>
</head>
<body>
    
</body>
</html>

<h2>Registro de Docentes</h2>
<form id="formDoc">
    Nombre: <input name="nombre"><br>
    Edad: <input name="edad"><br>
    ID: <input name="id"><br>
    <button>Guardar</button>
</form>
<hr>


</body>
</html>

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con color</title>
    <style>
        body {
            background-color: lightblue; 
}
    </style>
</head>
<body>
    
</body>
</html>

<h2>Registro de Asignaturas</h2>
<form id="formAsig">
    Nombre: <input name="nombre"><br>
    Nota: <input name="nota"><br>
    <button>Guardar</button>
</form>
<hr>

</body>
</html>

<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con color</title>
    <style>
        body {
            background-color: lightblue;
}
    </style>
</head>
<body>
    
</body>
</html>


</html>
